page-contact {

}
page-scan {
  .Scan{
    background: #1b1b1b;
    color: #c7932b;
  }

  .Scan-button {
    color: #ffffff;
    background-color:#00a4da;
  }
}
page-scan-result {
  .Scan-result{
    background: green;
  }

  .Scan-resultUser{
    text-align: center;
    color: #ffffff;
  }

  .Scan-resultImage{
    border-radius: 100px;
  }

  .Scan-resultImage{
    display: flex;
    justify-content: center;
  }
  .Scan-button {
    color: #ffffff;
    background-color:#00a4da;
  }
  .Scan-button,
  .item-ios .item-button {
    padding: 1em;
    display: inline-block;
    color: #fff;
    height: auto;
    font-size: inherit;
    contain: content;
  }
  .Scan-button a {
    color: #fff;
    text-decoration: none;
    padding: 0;
  }
  .list-button {
    width: 100%;
  }

  .section-title {
    margin-bottom: 1em;
  }
  .item-name {
    margin-bottom: 1em;
  }
}
