page-contact {

}
page-scan {

  .scan-img img {
    max-width: 200px;
    margin: 2em auto;
  }
  .Scan{
    background: #1b1b1b;
    color: #c7932b;
  }

  .Scan-button {
    color: #ffffff;
    background-color:#00a4da;
    width: calc(100% - 24px);
  }
}
page-scan-result {
  .Scan-result{
    background: green;
  }

  .Scan-resultUser{
    text-align: center;
    color: #ffffff;
  }

  .Scan-resultImage{
    border-radius: 100px;
  }

  .Scan-resultImage{
    display: flex;
    justify-content: center;
  }
  .Scan-button {
    color: #ffffff;
    background-color:#00a4da;
    width: calc(100% - 24px);
    margin: 0 12px 2em;
  }
  .Scan-button,
  .item-ios .item-button {
    padding: 1em;
    display: inline-block;
    color: #fff;
    height: auto;
    font-size: inherit;
    contain: content;
  }
  .Scan-button a {
    color: #fff;
    text-decoration: none;
    padding: 0;
  }
  .list-button {
    width: 100%;
    color: #fff;
  }

  .item-ios {
    background-color: color($colors, light);
  }
  .list-item button.list-button {
    color: #fff;
    text-decoration: none;
  }

  .section-title {
    margin: 1em auto 2em;
  }
  .item-details {
    text-transform: capitalize;
    color: color($colors, bright);
    margin: 1em auto;
    text-align: center;
  }
  .list-item {
    color: #fff;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 200px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
  }
  .item-ios button.list-preview.item-button {
    background-color: color($colors, bright);
    // padding: 1em;
    padding: 0.25em 0.53em;
    margin-right: .5em;
  }
  .list-icon {
    float: right;
    color: color($colors, bright);
  }
  .list-icon .icon {
      color: color($colors, bright);
  }
}
