// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content-ios {
  background-color: color($colors, light);
}
.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default,
.toolbar-title-ios {
  color: color($colors, light);
}

.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios,
.tabs-ios .tabbar {
  background-color: color($colors, dark);
}

[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
  margin-top: 1em;
}

.section-title {
  text-align: center;
  color: color($colors, dark);
  font-family: 'Roboto';
  font-weight: lighter;
}

.item-ios ion-icon {
  color: color($colors, dark);
}
.social-cards ion-col {
  padding: 0;
}

// libarary lists
// ion-list {
//   background-color: color($colors, light);
// }

.list-ios ion-item-options {
    border-bottom: 0.55px solid color($colors, light);
}

ion-app.ios [padding], ion-app.ios [padding] .scroll-content {
  padding: 0;
}

// qr scanner
page-scan .Scan-button {
    background-color: #0e6f8e;
    width: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate3d(-50%, -50%, 0);
    min-width: 100px;
  }

  button a {
    color: #fff;
    text-decoration: none;
  }
